<p>create-item works!</p>
<div class="custom">
  <div class="custom-card">
    <label>ชื่อสินค้า : </label>
    <input type="text " [(ngModel)]="itemName">
  <div class="custom-card">
    <label>ราคา : </label>
    <input type="text " [(ngModel)]="amount"/>
    </div>
  <div class="custom-card">
    <label>ประเภท : </label>
    <input type="text " [(ngModel)]="itemType"/>
  </div>
  <button (click)=onClick() class="custom-button">save</button>
  </div>
</div>

<div  class="custom-table">
<table style="width: 75% ">
  <tr>
    <th>ชื้อสินค้า</th>
    <th>ราคา</th>
    <th>ประเภท</th>
  </tr>
  <tr *ngFor= " let item of arrayItemResponse">
    <td>{{item.itemName}}</td>
    <td>{{item.amount}}</td>
    <td>
      <p *ngIf ="item.itemType?.trim()=='o'">expenses</p>
      <p *ngIf ="item.itemType?.trim()=='i'">income</p>
    </td>
  </tr>
</table>
</div>
  <div  class="custom-table">
    <table style="width: 25% ">
      <tr>
        <th>คงเหลือ</th>
        <th>.bath</th>


