.label{
  font-size: 35px;
  font-family:"AngsanaUPC";
  color: #cc0b0b;

}

.bg-custom {

  background: url('../assets/IMG_008.PNG');
  height: 300px;
  background-repeat:no-repeat;

}
.custom-font{
  font-size: 34px;
  font-family: "bolder";
}
.bav{

  background-color: rgba(192, 69, 69, 0.72);
}
.text{
  width: 300px;
}
